.link-element-cors { font-family: cursive; }

.icon-unknown-fa-split-separate-cors {
    font-family: "Unknown Ico Font (FA)" !important;
}
.icon-unknown-fa-split-separate-cors::before {
    content: "\f013";
}
